<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    input {
        display: inline-block;
    }

    ul {
        display: flex;
        list-style: none;
        /* justify-content: space-around; */
    }

    li {
        margin-left: 20px;
        background-color: antiquewhite;
    }

    li:active {
        background-color: brown;
    }
</style>

<body>

    <h1>Vueの練習</h1>
    <div id="app">
        <main>
            <input v-model="inputData.title" type="text" id='key'>
            <br>
            <textarea v-model="inputData.body" id="memo" cols="30" rows="10"></textarea>
            <ul>
                <li @click="save">保存</li>
                <li>削除</li>
            </ul>

        </main>
        <table id='list'>
            <!-- ここにリストが表示される -->
            <tr v-for="memo in memos" :key="'memo-' + memo.id">
                <th>{{ memo.title }}</th>
                <td>{{ memo.body }}</td>
                <td @click="_getMemoKey">×</td>
            </tr>
        </table>
    </div>








    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                localStorageKey: 'memoPadLocalStrageKey',
                inputData: {
                    title: '',
                    body: ''
                },
                memos: [
                    {
                        title: 'test',
                        body: 'test',
                        id: 0
                    }
                ]
            },
            methods: {
                _getMemoKey() {
                    return new Date().toLocaleString().replace(' ', '_')
                },
                _saveMemo() {
                    this.memos.push({
                        title: this.inputData.title,
                        body: this.inputData.body,
                        id: this._getMemoKey()
                    })
                },
                _saveLocal() {
                    localStorage.setItem(this.localStorageKey, JSON.stringify(this.memos))
                },
                _clearMemo() {
                    this.inputData.title = ''
                    this.inputData.body = ''
                },
                save() {
                    this._saveMemo()
                    this._saveLocal()
                    this._clearMemo()
                },
                fetchMemos() {

                },
                deleteMemo() { },
                savefunc() {
                    // keyとmemoで記入内容取得
                    //----------------------------------------------------------------------
                    // これは絶対やらない。vue.jsでは基本的にDOMは参照しない
                    // const key = document.querySelector('#key').value;
                    // const value = document.querySelector('#memo').value;
                    // const table = document.createElement('tr');
                    // table.innerHTML= '<th>'+key+'<td>'+value+'</td></th>'
                    //---------------------------------------------------------------------
                },

            },
            computed: {}
        })



// //変数定義
// let text_area,
//     save,
//     clear,
//     list;


//  list = document.querySelector('#list');



// //saveの記述
// save = document.querySelector('#save');


// save.onclick = function(){//keyとmemoで記入内容取得
//  const key = document.querySelector('#key').value;
//  const value = document.querySelector('#memo').value;
//  const table = document.createElement('tr');
//  table.innerHTML= '<tr>'+key+'</th><td>'+value+'</td></tr>'
//  localStorage.setItem(key, value);

//  list.appendChild(table);


// };

//  //clearの記述
//  clear = document.querySelector('#clear');

//  clear.onclick = function(){
//   localStorage.clear();  
//   list.innerHTML ='';//listタグの中身を空にすることでlist内のタグの記述を消している
// }

//保存の記述
// for(let i =0; i<localStorage.length; i++){
//   const key = localStorage.key(1);
//   const value = localStorage.getItem(key);
//   const table = document.createElement('tr');
//   table.innerHTML= '<tr>'+key+'</th><td>'+value+'</td></tr>'
//   list.appendChild(table);
// }



    </script>
</body>

</html>